@font-face {
    font-family: monodb;
    src: url(/public/Montserrat-Light.otf);
}
@font-face {
    font-family: montserrat-medium;
    src: url(/public/MontserratAlternates-Medium.otf);
}
@font-face {
    font-family: futurablack;
    src: url(/public/gadugib.ttf)
}
@font-face {
    font-family: futuranormal;
    src: url(/public/GEO415L.TTF)
}
*{
    margin: 0;
}
.app{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    
    

}
h3{
    margin-top: 20px;
    font-weight: 900;
    font-family: montserrat-medium;
}
ul{
    margin-left: 0;
    padding: 0;
    margin-top: 30px;
}
li{
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(119, 136, 153, 0.405);
    transition: all ease .5s;
    display: flex;
    flex-direction: column;
}
li:hover{
  background-color: rgba(22, 80, 139, 0.324);
 
}
sub{
    margin-top: 10px;
    font-weight: 200;
    display: none;
    transition: all ease 3s;
}
li:hover sub{
    display: block;
}
li a{
    text-decoration: none;
    color: black;
    
    
}
.user_details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-circle{

    border-radius: 50%;
    width:100px;
    height: 100px;
    position: relative;
    border: 2px solid rgba(211, 211, 211, 0.621);
    transition: all 1s ;

    
}
.img-circle:hover{
    background-color: grey;
}
#slack{
    display: none;
}
.img-circle img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.img-circle img:hover{
    opacity: .7;
    background-color: grey;
}
i{
    color: white;
    position: absolute;
    bottom: 20px;
    z-index: 999;
    right: 40px;
    font-size: 1.5em;
    display: none;
    transition: all 1s ease;
    
}
.img-circle:hover  i{
    display: block;
    z-index: 999;
}

.small-icons{
    display: flex;
    margin-top: 30px;
    justify-content: center;

}

.small-icons img{

    width: 30px;
    height: 30px;
    margin-left: 10px;
}

footer img{
    width: 120px;
}
footer{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    
    align-items: center;
}
hr{
    margin-top: 50px;
}
footer span{
    font-size: .8em;
}
.external{
    position: absolute;
    top: 20px;
    right: 10%;
    color: lightgray;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
}
.zurilogo{
    font-family: futurablack;
    font-size: 1.5em;
    
}
.dot{
    color: red;
    font-size: 2em;
}
.external img{
    width: 20px;
    height: 20px;
}
.external:hover{
    background-color: lightgray;
}

.mobile{
    display: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 10px;
    padding-bottom: 7px;
}
.mobile:hover{
    background-color: rgb(202, 240, 254);
}

@media screen and (max-width: 450px) {
   footer{
    flex-direction: column;
    position: inherit;
    align-items: inherit;
    margin-top: 60px;
   }
   footer span{
    margin-top: 15px;
    margin-bottom: 15px;
   }
.app{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;

}
.mobile{
  display: none;
  position: absolute;
  top: 20px;
  right: 10%;
  color: lightgray;
  display: block;
}
.external{
    display: none;
}
}



/* contact page */


.contact{
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    color: rgb(25, 31, 36);
    
    

}
.contact h3{
    font-size: 2em;
    font-family: futurablack;
    color: rgb(38, 50, 61);
}

.contact form{
    width: inherit;

    margin-top: 20px;
    
}
.contact p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact .form-group{
    display: flex;
    flex-direction: column;
}
.contact .name{
    display: flex;
    
}
#message{
    height: 20vh;
    display: block;
    padding-top: 0;
}
.contact .name .form-group{
    flex: 1;
    
}
.contact .name .form-group:first-child{
    margin-right: 10px;
}
.contact label{
    font-weight: 900;
    font-family: montserrat-medium;
    font-size: 1em;
    margin-bottom: 10px;
}
.contact input{
    margin-bottom: 30px;
    font-size: 1em;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
.contact input:focus{
    outline: none;
}

.contact .select_group{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: top;
}
.contact #checkbox{
    margin-right: 10px;
    cursor: pointer;
    
}
.contact button{
    width: 100%;
    background-color: rgb(10, 127, 253);
    color: white;
    border: none;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 1.3em;
    cursor: pointer;
}
.contact button:hover{
    background-color: rgb(6, 111, 224)
}
.contact textarea{
    
    font-size: 1.5em;
    
    width: 100%;
    border: none;
}
.contact textarea:focus{
    outline: none;
}
.textarea-wrapper{
    width: inherit;
   font-family: montserrat-medium;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
}





@media screen and (max-width: 450px) {
    .contact .name{
        flex-direction: column;
    }
    .contact .name .form-group:first-child{
        margin-right: 0px;
    }
    .textarea-wrapper{
        padding: 0;
        padding-top: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .contact textarea{
        border-radius: 0;
        font-size: 1.2em;
        padding-left: 10px;
        
        width: 95%;
    }
    .contact{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    
    }
    .contact input{
        margin-bottom: 30px;
    }
    .contact form{
        margin-top: 30px;
    }
 }